.main {
   margin-bottom: 160px;
   &__wrapper {
      position: relative;
      height: calc(100vh - 161px);
      display: flex;
      align-items: center;
      padding-bottom: 10px;
   }

   &__content {
   }

   &__description {
      display: inline-block;
      position: relative;
      font-weight: 700;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: 0.02em;
      color: #111827;
      margin-bottom: 45px;
      &::after {
         content: '';
         position: absolute;
         top: 50%;
         right: -10px;
         transform: translate(100%, -50%);
         border-radius: 10px;
         width: 78px;
         height: 6px;
         background-color: #ec605d;
      }
   }

   &__title {
      max-width: 787px;
      font-weight: 700;
      font-size: 96px;
      line-height: 115%;
      letter-spacing: 0.01em;
      color: #111827;
      margin-bottom: 45px;
      span {
         color: #ec605d;
      }
   }

   &__subtitle {
      max-width: 417px;
      margin-bottom: 45px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 178%;
      color: #3f3f46;
      span {
         font-weight: 700;
         color: #ec605d;
      }
   }

   &__btn {
      padding: 20px 80px;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #fff;
   }

   &__img {
      position: absolute;
      right: -5%;
      top: 26%;
   }
   &__img--bg-blur {
      position: absolute;
      top: -44px;
      left: 52px;
      z-index: -1;
   }
}

.main-recall {
   position: absolute;
   padding: 0 15px;
   top: 65%;
   left: 11px;
   border-radius: 35px;
   box-shadow: 0 20px 40px 0 rgba(254, 107, 87, 0.14);
   background-color: #f8fafc;
   display: flex;
   align-items: center;
   max-width: 308px;
   width: 100%;
   &__img {
      margin-right: 5px;
   }

   &__info {
   }

   &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      color: #52525b;
      margin-bottom: 3px;
   }

   &__rating {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #52525b;
   }

   &__star {
      margin-right: 7px;
   }

   &__num {
      margin-right: 10px;
   }

   &__text {
      font-weight: 400;
      color: #71717a;
   }
}
