<section class="section-menu">
   <div class="container">
      <div class="section-menu__wrapper">
         <h2 class="section-menu__title section-title">MENU</h2>
         <h3 class="section-menu__subtitle section-subtitle">
            Our best seller
         </h3>
         <div class="section-menu__content">
            <div class="section-menu__items">
               <div class="section-menu-item">
                  <div class="section-menu-item__img">
                     <img src="assets/img/menu-img1.jpg" alt="menu1" />
                  </div>
                  <div class="section-menu-item__content">
                     <div class="section-menu-item__desc">
                        <div class="section-menu-item-desc-item">
                           <div class="section-menu-item-desc-item__img">
                              <img
                                 src="assets/img/menu-dessert.svg"
                                 alt="desert"
                              />
                           </div>
                           <p class="section-menu-item-desc-item__title">
                              Dessert
                           </p>
                        </div>
                        <div class="section-menu-item-desc-item">
                           <div class="section-menu-item-desc-item__img">
                              <img
                                 src="assets/img/menu-money.svg"
                                 alt="money"
                              />
                           </div>
                           <p class="section-menu-item-desc-item__title">
                              Rp 25.000
                           </p>
                        </div>
                     </div>
                     <h3 class="section-menu-item__title">Kopi Susu Butter</h3>
                     <p class="section-menu-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vitae, ut semper nulla magna fermentum interdum sed
                        quis. At felis purus vulputate fermentum.
                     </p>
                     <button class="section-menu-item__btn button">
                        Order Now
                     </button>
                  </div>
               </div>
               <div class="section-menu-item">
                  <div class="section-menu-item__img">
                     <img src="assets/img/menu-img2.jpg" alt="menu2" />
                  </div>
                  <div class="section-menu-item__content">
                     <div class="section-menu-item__desc">
                        <div class="section-menu-item-desc-item">
                           <div class="section-menu-item-desc-item__img">
                              <img
                                 src="assets/img/menu-dessert.svg"
                                 alt="desert"
                              />
                           </div>
                           <p class="section-menu-item-desc-item__title">
                              Snack
                           </p>
                        </div>
                        <div class="section-menu-item-desc-item">
                           <div class="section-menu-item-desc-item__img">
                              <img
                                 src="assets/img/menu-money.svg"
                                 alt="money"
                              />
                           </div>
                           <p class="section-menu-item-desc-item__title">
                              Rp 8.000
                           </p>
                        </div>
                     </div>
                     <h3 class="section-menu-item__title">
                        Roti Gembung Soklat
                     </h3>
                     <p class="section-menu-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vitae, ut semper nulla magna fermentum interdum sed
                        quis.
                     </p>
                     <button class="section-menu-item__btn button">
                        Order Now
                     </button>
                  </div>
               </div>
               <div class="section-menu-item">
                  <div class="section-menu-item__img">
                     <img src="assets/img/menu-img3.jpg" alt="menu3" />
                  </div>
                  <div class="section-menu-item__content">
                     <div class="section-menu-item__desc">
                        <div class="section-menu-item-desc-item">
                           <div class="section-menu-item-desc-item__img">
                              <img
                                 src="assets/img/menu-dessert.svg"
                                 alt="desert"
                              />
                           </div>
                           <p class="section-menu-item-desc-item__title">
                              Food
                           </p>
                        </div>
                        <div class="section-menu-item-desc-item">
                           <div class="section-menu-item-desc-item__img">
                              <img
                                 src="assets/img/menu-money.svg"
                                 alt="money"
                              />
                           </div>
                           <p class="section-menu-item-desc-item__title">
                              Rp 28.000
                           </p>
                        </div>
                     </div>
                     <h3 class="section-menu-item__title">Nasi Gila Spesial</h3>
                     <p class="section-menu-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vitae, ut semper nulla magna fermentum interdum sed
                        quis. At felis purus vulputate fermentum.
                     </p>
                     <button class="section-menu-item__btn button">
                        Order Now
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
