<section class="subscription">
   <div class="container">
      <div class="subscription__wrapper">
         <div class="subscription__content">
            <h3 class="subscription__title">
               Subscribe to get lastest news update
            </h3>
            <h4 class="subscription__subtitle">
               We recommended you to subscribe to our newspaper, enter your
               email below to get our daily update about us.
            </h4>
            <div class="subscription-input">
               <label for="subscription"></label>
               <input
                  type="text"
                  id="subscription"
                  placeholder="Enter your email address"
               />
               <button>Subscribe now</button>
            </div>
         </div>
      </div>
   </div>
</section>
